.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  font-weight: 600;
  background-color: lightskyblue;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 20px 10px;
  cursor: pointer;
  font-size: medium;
}

button:hover {
  background-color: dodgerblue;
}

button:active {
  scale: 95%;
}

#step {
  background-color: grey;
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

#step-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

#progress {
  display: block;
  height: 5px;
  position: absolute;
  background-color: orangered;
  top: 40%;
  left: 0;
  z-index: -1;
}

.active {
  background-color: orangered !important;
}
